@section header{
    <span class="top-header">Zachary & Erica</span>
    <br />
    <span class="bottom-header">July 25th, 2015 </span>
}
@{
    ViewBag.Title = "Gift Registry";
}

<div id="accordion" class="panel-group">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="#mortgage"
                    data-toggle="collapse"
                    data-parent="#accordion">Home Registry</a>
            </h4>
        </div>
        <div class="panel-collapse collapse in" id="mortgage">
            <div class="panel-body">
                Zach and I would love nothing more than to have a place that is completely ours; a place that will be the heart of all of our memories, 
                now and in the future – our own home. If you aren’t into the whole registry thing, we would appreciate a gift of money towards a home!
            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="#macys"
                    data-toggle="collapse"
                    data-parent="#accordion">Macy's Registry</a>
            </h4>
        </div>
        <div class="panel-collapse collapse" id="macys">
            <div class="panel-body">
                <a target="_blank" class="btn btn-primary" href="http://www.macys.com/registry/wedding/guest/?registryId=6233533">
                    <span class="glyphicon glyphicon-shopping-cart"> Macy's</span></a>
            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="#kohls"
                    data-toggle="collapse"
                    data-parent="#accordion">Kohl's Registry</a>
            </h4>
        </div>
        <div class="panel-collapse collapse" id="kohls">
            <div class="panel-body">
                <a target="_blank" class="btn btn-primary" href="http://www.kohls.com/upgrade/gift_registry/kohlsgrw_home.jsp?section=list&amp;listid=2826819&amp;viewtype=listview">
                    <span class="glyphicon glyphicon-shopping-cart"> Kohl's</span>
                </a>
            </div>
        </div>
    </div>
</div>
