@section AddToHead{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJpRSk1PbXhSB-sn3sbG1d1-jlyY3cvjk"></script>
    <script type="text/javascript">
        function initialize() {
            var myLatLng = new google.maps.LatLng(40.8232, -77.8972);
            var mapOptions = {
                center: myLatLng,
                zoom: 10
            };
            var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: "Venue"
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
}
@section header{
    <span class="top-header">Zachary & Erica</span>
    <br />
    <span class="bottom-header">July 25th, 2015 </span>
}
@{
    ViewBag.Title = "Accommodations";
}

<div class="row">
    <div class="info-box lead centered-text">
        <p>
            Both the wedding ceremony and the reception will be held at the Toftrees Golf Resort. The ceremony will be held outside on the Croquet Lawn,
            and the reception will be held indoors.
        </p>
        <h4>
            Hotel Accommodations
        </h4>
        <div>
            We conveniently have rooms blocked off at the Toftrees Resort at a discounted rate(<a target="_blank" href="http://www.toftrees.com/hotel/">
                view various types of rooms
            </a>) incase you celebrate a little too hard and do not want to worry about driving or
            getting to another destination. To reserve, please call <strong>814-234-8000</strong> and let them know you will be celebrating the <strong>“Stoltz Wedding”</strong> to
            receive the discounted rate. Please reserve as soon as possible, as the rooms may fill up quickly.

            <p>We have rooms reserved for Friday too so you can enjoy an entire weekend away if you choose!</p>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-6">
        <div class="lead info-box mobile-only">
            If you would like to use the navigation that lovely Google Maps will provide on your smartphone, follow the Direction link below! :)
            <a href="http://maps.google.com/?daddr=1+Country+Club+Ln,+State+College+PA"
               class="mobile-only glyphicon glyphicon-map-marker btn btn-primary"> Directions</a>
        </div>
        <div id="map-canvas"></div>
    </div>
    <div class="col-lg-6 info-box direction-desktop text-center">
        <div class="col-sm-12 lead"><span class="glyphicon glyphicon-globe"></span> Location:</div>
        <div class="col-sm-12">
            <address>
                <strong>Toftrees Golf Resort</strong><br />
                One Country Club Lane<br />
                State College, PA 16803<br />
                <a href="tel:8142348000" class="btn-sm btn-primary"><span class="glyphicon glyphicon-earphone"></span></a>
                <a href="tel:8142348000">814-234-8000</a>
            </address>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="info-box">
        <p class="text-center">There are also a variety of other hotels very close by, just to give you options, however you will not receive a discounted rate at these hotels:</p>
        <div class="row">
            <div class="col-xs-4">
                <div>
                    <a target="_blank" href="http://bit.ly/ZyO383" name="Hampton Inn">The Hamption Inn</a>
                </div>
                <a class="btn btn-primary" href="#"><span class="glyphicon glyphicon-map-marker"> Directions</span></a>
            </div>
            <div class="col-xs-4">
                <div><a target="_blank" href="http://www.marriott.com/hotels/travel/scesh-springhill-suites-state-college/">The Marriott</a></div>
                <a class="btn btn-primary" href="#"><span class="glyphicon glyphicon-map-marker"> Directions</span></a>
            </div>
            <div class="col-xs-4">
                <div><a target="_blank" href="http://bit.ly/1CzfGea" name="Holiday Inn Express">The Holiday Inn Express</a></div>
                <a class="btn btn-primary"href="#"><span class="glyphicon glyphicon-map-marker"> Directions</span></a>
            </div>
        </div>
    </div>
</div>
