@section header{
    <span class="top-header">Zachary & Erica</span>
    <br />
    <span class="bottom-header">July 25th, 2015 </span>
}
@{
    ViewBag.Title = "Stoltz Wedding 2015";
}
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-offset-1 col-lg-5">
        <figure>
            <img src="~/Images/WeAreGettingMarried.JPG" class="img-rounded lion-shrine" alt="Lion Shrine">
        </figure>
    </div>
    <hr>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5 info-box">
        <b>Family and friends</b>, thank you for visiting our wedding website. We are very excited to spend our special day with you.
        You will find every detail you need for our big day, including <u>time</u> and <u>location</u>, <u>accommodations</u>, and how you can <u>
            share your
            pictures
        </u> with us. You will find little details about us and the bridal party too!
        <br />
        <br />
        <p>
            Zach spent a lot of time and love building this website, so stay a while and reach out to us if you need anything.
            We are counting down the days until we say “I DO!”.
        </p>
    </div>
</div>
