@section header{
    <span class="top-header">Zachary & Erica</span>
    <br />
    <span class="bottom-header">July 25th, 2015 </span>
}
@{
    ViewBag.Title = "Itinerary";
}
<ul class="timeline">
    <li>
        <div class="timeline-badge primary"><i class="glyphicon glyphicon-bell"></i></div>
        <div class="timeline-panel info-box">
            <div class="timeline-heading">
                <h4 class="timeline-title"><strong>Ceremony:</strong> 5:00pm</h4>
            </div>
            <div class="timeline-body">
                <p>
                    <address>
                        <strong>Toftrees Golf Resort ~ Croquet Lawn</strong><br />
                        One Country Club Lane <br />
                        State College, PA 16803
                    </address>
                </p>
            </div>
        </div>
    </li>
    <li class="timeline-inverted">
        <div class="timeline-badge primary"><i class="glyphicon glyphicon-glass"></i></div>
        <div class="timeline-panel info-box">
            <div class="timeline-heading">
                <h4 class="timeline-title"><strong>Cocktail Hour:</strong> 5:30pm - 6:30pm</h4>
            </div>
            <div class="timeline-body">
                <p>There will be a cocktail hour before the reception located behind the Croquet Lawn on the <strong>Toftrees Terrace.</strong></p>
            </div>
        </div>
    </li>
    <li>
        <div class="timeline-badge primary"><i class="glyphicon glyphicon-cutlery"></i></div>
        <div class="timeline-panel info-box">
            <div class="timeline-heading">
                <h4 class="timeline-title"><strong>Reception & Dinner:</strong> 6:30pm - 11:30pm</h4>
            </div>
            <div class="timeline-body">
                <p>
                    TIME TO EAT, DRINK, AND BE HAPPY!
                </p>
            </div>
        </div>
    </li>
    <li class="timeline-inverted">
        <div class="timeline-badge primary"><i class="glyphicon glyphicon-heart"></i></div>
        <div class="timeline-panel info-box">
            <div class="timeline-heading">
                <h4 class="timeline-title"><strong>After Party:</strong> 11:30 - Sunrise</h4>
            </div>
            <div class="timeline-body">
                <p>
                    Let's be honest, Zach's bed time is roughly <strong>9:30pm</strong> on a good day.  This time is yours to do whatever your heart desires!
                </p>
            </div>
        </div>
    </li>
</ul>