@section header{
    <span class="top-header">Zachary & Erica</span>
    <br />
    <span class="bottom-header">July 25th, 2015 </span>
}
@{
    ViewBag.Title = "Our Story";
}

<div class="row">
    <div class="col-lg-offset-3 col-lg-3 col-md-offset-3 col-md-3 col-sm-offset-2 col-sm-4 col-xs-12">
        <img src="~/Images/highschool.jpg" alt="highschool us" class="img-rounded our-story-img" />
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5 info-box">
        While our love story may only date back a few years, our entire story dates back 10+ years.
                    We met when we were 11, probably sharing soft pretzels and Kool Aid Jammers at the Patton Pool. We were really good friends and very
                    fond of each other way back then.  Our friendship remained throughout middle school and high school where we always joked around with
                    each other and always thought the other one was pretty cute. Apparently everyone in the world knew Zach had a crush on Erica in high school,
                    except her, so they just continued being friends.
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-offset-2 col-lg-3 col-md-offset-2 col-md-3 col-sm-4 col-xs-12">
        <img src="~/Images/psuPic.jpg" alt="college us" class="img-rounded our-story-img" />
    </div>
    <div class="col-xs-12 col-sm-push-2 col-sm-6 col-lg-5 col-md-push-1 col-md-6 info-box">
        After high school, we both attended Penn State Altoona where we would meet up after class and for
                    lunch dates.  Today, Zach claims he tried to finally ask Erica out on a date while we attended Penn State Altoona, but Erica was just too oblivious to
                    pick up on it. So finally, the summer of 2012, Zach asked Erica out on an official date (that she was not oblivious to) and she said yes!
                    It was the best first date either of us have had, and we spent the rest of the summer going on fun dates and spending time
                    together. We both attended Penn State University Park in the fall of 2012, where we continued to make memories and fall in love.
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-offset-3 col-lg-3 col-md-offset-3 col-md-3 col-sm-offset-2 col-sm-4 col-xs-12">
        <img src="~/Images/crab.jpg" alt="maryland us" class="img-rounded our-story-img" />
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-5 col-md-6 info-box">
        Zach graduated in May 2013 and received a job offer in Maryland. Erica also received an internship in Maryland, so in June 2013 we
                    (including our puppy Maverick) moved to Columbia, MD where we would start the next journey of our lives together.
                    Erica had to go back to Penn State for the fall semester, and it was a long fall semester being away from Zach and Mav. But she graduated in
                    December 2013 and received a job offer in Baltimore, MD.
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-offset-3 col-lg-3 col-md-offset-3 col-md-3 col-sm-offset-2 col-sm-4 col-xs-12">
        <img src="~/Images/engagement.jpg" alt="engaged us" class="img-rounded our-story-img" />
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-5 col-md-6 info-box">
        Not long after, on New Year’s Eve, Zach proposed to Erica in Philadelphia when he
                    surprised her with visiting her best friend Devin in the city. Everything was perfect!  And now, we still live in Columbia with
                    our puppy Mav.  Zach works as a Software Engineer and Erica works as a Digital Marketing Executive. We have been blessed with so much already, and we are excited to
                    see what else life brings our way.
    </div>
</div>
